body {
    background-color: rgb(229, 240, 251);
}

h1{
    margin-left: 5%;
    font-size: 55px;
    font-family:"Arial Black";
}

h2{
    margin-left: 5%;
    font-size: 35px;
    font-family:"Arial Black";
}

details{
    margin-left: 5%;
    font-size: 25px;
}

img{
    position: absolute;
    margin-top: -15%;
    margin-left: 75%;
    width: 160px;
}

input{
    position:absolute;
    margin-top: 1%;
    margin-left: 80%;
    font-size: 30px;
    background-color: #ffffff00;
    color: #000000;
    padding: 8px;
    border:none;
    transition: color 0.5s ease;
    font-weight:bold;
}

input:hover{
    color: #00000072;
}

.past_button{
    position: absolute;
    margin-top: 5%;
    margin-left: 80%;
}